<a href="https://colab.research.google.com/github/Cassi686/Cassi686/blob/main/E_Var_Dummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
import seaborn as sns

In [66]:
df = pd.read_excel('/content/C├│pia de Limite_Credito_Dummy.xlsx')
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,Escolaridade,Gênero,Região,LimitedoChequeEspecial
0,70,10736,5214,400,Fundamental_Medio,RJ,F,500
1,68,5000,5000,380,Fundamental_Medio,RJ,F,600
2,44,5800,5800,500,Fundamental_Medio,RJ,F,800
3,72,4300,4300,2000,Fundamental_Medio,RJ,F,1000
4,75,4400,4400,3000,Fundamental_Medio,RJ,F,1000

In [67]:
df.rename(columns={'Gênero':'Região', 'Região':'Gênero'},inplace= True)

In [68]:
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,Escolaridade,Região,Gênero,LimitedoChequeEspecial
0,70,10736,5214,400,Fundamental_Medio,RJ,F,500
1,68,5000,5000,380,Fundamental_Medio,RJ,F,600
2,44,5800,5800,500,Fundamental_Medio,RJ,F,800
3,72,4300,4300,2000,Fundamental_Medio,RJ,F,1000
4,75,4400,4400,3000,Fundamental_Medio,RJ,F,1000

In [69]:
df = pd.get_dummies(data = df, columns = ["Escolaridade", "Gênero", "Região"] , prefix=["Escolaridade", "Gênero", "Região"])
df.head()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Gênero_F,Gênero_M,Região_RJ,Região_SP
0,70,10736,5214,400,500,1,0,1,0,1,0
1,68,5000,5000,380,600,1,0,1,0,1,0
2,44,5800,5800,500,800,1,0,1,0,1,0
3,72,4300,4300,2000,1000,1,0,1,0,1,0
4,75,4400,4400,3000,1000,1,0,1,0,1,0

In [70]:
df.corr()

,Idade,RendimentoTotal,Salario,LimitedeCreditoImediato,LimitedoChequeEspecial,Escolaridade_Fundamental_Medio,Escolaridade_Superior_Pos,Gênero_F,Gênero_M,Região_RJ,Região_SP
Idade,1.000000,0.239445,0.213186,0.057183,0.228117,-0.150088,0.150088,-0.121217,0.121217,-0.196052,0.196052
RendimentoTotal,0.239445,1.000000,0.960551,0.031041,0.858120,-0.396191,0.396191,-0.406241,0.406241,-0.177798,0.177798
Salario,0.213186,0.960551,1.000000,0.081792,0.888839,-0.475479,0.475479,-0.424335,0.424335,-0.242621,0.242621
LimitedeCreditoImediato,0.057183,0.031041,0.081792,1.000000,0.226990,-0.259433,0.259433,-0.473326,0.473326,-0.001145,0.001145
LimitedoChequeEspecial,0.228117,0.858120,0.888839,0.226990,1.000000,-0.598310,0.598310,-0.591779,0.591779,-0.312566,0.312566
Escolaridade_Fundamental_Medio,-0.150088,-0.396191,-0.475479,-0.259433,-0.598310,1.000000,-1.000000,0.602464,-0.602464,0.237508,-0.237508
Escolaridade_Superior_Pos,0.150088,0.396191,0.475479,0.259433,0.598310,-1.000000,1.000000,-0.602464,0.602464,-0.237508,0.237508
Gênero_F,-0.121217,-0.406241,-0.424335,-0.473326,-0.591779,0.602464,-0.602464,1.000000,-1.000000,-0.167248,0.167248
Gênero_M,0.121217,0.406241,0.424335,0.473326,0.591779,-0.602464,0.602464,-1.000000,1.000000,0.167248,-0.167248
Região_RJ,-0.196052,-0.177798,-0.242621,-0.001145,-0.312566,0.237508,-0.237508,-0.167248,0.167248,1.000000,-1.000000
Região_SP,0.196052,0.177798,0.242621,0.001145,0.312566,-0.237508,0.237508,0.167248,-0.167248,-1.000000,1.000000

In [71]:
import statsmodels.formula.api as smf

In [72]:
function = 'LimitedoChequeEspecial~Idade+RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Gênero_F+Gênero_M+Região_RJ+Região_SP'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.886
Model:                                OLS   Adj. R-squared:                  0.865
Method:                     Least Squares   F-statistic:                     44.20
Date:                    Mon, 01 May 2023   Prob (F-statistic):           7.44e-17
Time:                            21:43:30   Log-Likelihood:                -434.21
No. Observations:                      48   AIC:                             884.4
Df Residuals:                          40   BIC:                             899.4
Df Model:                               7
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        398.6632    705.403      0.565      0.575   -1027.009    1824.335
Idade                             -4.9864     22.665     -0.220      0.827     -50.793      40.820
RendimentoTotal                    0.1354      0.101      1.336      0.189      -0.069       0.340
Salario                            0.2799      0.142      1.977      0.055      -0.006       0.566
LimitedeCreditoImediato            0.2439      0.414      0.589      0.559      -0.593       1.081
Escolaridade_Fundamental_Medio  -223.4354    572.451     -0.390      0.698   -1380.402     933.531
Escolaridade_Superior_Pos        622.0986    629.942      0.988      0.329    -651.062    1895.259
Gênero_F                       -1456.4227    533.381     -2.731      0.009   -2534.425    -378.420
Gênero_M                        1855.0859    718.221      2.583      0.014     403.507    3306.665
Região_RJ                       -967.2953    445.962     -2.169      0.036   -1868.619     -65.972
Região_SP                       1365.9585    598.088      2.284      0.028     157.177    2574.740
==============================================================================
Omnibus:                       15.742   Durbin-Watson:                   1.724
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.550
Skew:                          -0.679   Prob(JB):                     9.50e-10
Kurtosis:                       7.351   Cond. No.                     7.37e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.42e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [73]:
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+LimitedeCreditoImediato+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Gênero_F+Gênero_M+Região_RJ+Região_SP'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.885
Model:                                OLS   Adj. R-squared:                  0.869
Method:                     Least Squares   F-statistic:                     52.78
Date:                    Mon, 01 May 2023   Prob (F-statistic):           9.97e-18
Time:                            21:43:31   Log-Likelihood:                -434.24
No. Observations:                      48   AIC:                             882.5
Df Residuals:                          41   BIC:                             895.6
Df Model:                               6
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        279.5417    446.865      0.626      0.535    -622.921    1182.004
RendimentoTotal                    0.1315      0.099      1.334      0.190      -0.068       0.331
Salario                            0.2840      0.139      2.048      0.047       0.004       0.564
LimitedeCreditoImediato            0.2410      0.409      0.589      0.559      -0.585       1.067
Escolaridade_Fundamental_Medio  -280.4080    504.571     -0.556      0.581   -1299.409     738.593
Escolaridade_Superior_Pos        559.9498    556.481      1.006      0.320    -563.887    1683.786
Gênero_F                       -1510.5634    467.696     -3.230      0.002   -2455.094    -566.033
Gênero_M                        1790.1052    647.038      2.767      0.008     483.386    3096.825
Região_RJ                      -1011.0898    394.413     -2.564      0.014   -1807.623    -214.557
Região_SP                       1290.6315    484.666      2.663      0.011     311.828    2269.435
==============================================================================
Omnibus:                       15.771   Durbin-Watson:                   1.746
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.413
Skew:                          -0.684   Prob(JB):                     1.02e-09
Kurtosis:                       7.340   Cond. No.                     5.23e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.79e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [74]:
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+Escolaridade_Fundamental_Medio+Escolaridade_Superior_Pos+Gênero_F+Gênero_M+Região_RJ+Região_SP'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.884
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     64.26
Date:                    Mon, 01 May 2023   Prob (F-statistic):           1.39e-18
Time:                            21:43:31   Log-Likelihood:                -434.44
No. Observations:                      48   AIC:                             880.9
Df Residuals:                          42   BIC:                             892.1
Df Model:                               5
Covariance Type:                nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                        499.0074    244.849      2.038      0.048       4.883     993.132
RendimentoTotal                    0.1210      0.096      1.257      0.216      -0.073       0.315
Salario                            0.2937      0.137      2.149      0.037       0.018       0.569
Escolaridade_Fundamental_Medio  -144.5187    445.253     -0.325      0.747   -1043.076     754.038
Escolaridade_Superior_Pos        643.5262    533.893      1.205      0.235    -433.914    1720.967
Gênero_F                       -1543.1944    460.780     -3.349      0.002   -2473.086    -613.303
Gênero_M                        2042.2019    481.524      4.241      0.000    1070.447    3013.957
Região_RJ                       -933.4370    368.833     -2.531      0.015   -1677.771    -189.102
Região_SP                       1432.4444    417.372      3.432      0.001     590.153    2274.736
==============================================================================
Omnibus:                       18.013   Durbin-Watson:                   1.737
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.309
Skew:                          -0.774   Prob(JB):                     2.66e-12
Kurtosis:                       7.925   Cond. No.                     4.20e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [75]:
function = 'LimitedoChequeEspecial~RendimentoTotal+Salario+Escolaridade_Superior_Pos+Gênero_F+Gênero_M+Região_RJ+Região_SP'
model = smf.ols(formula=function, data=df).fit()
print(model.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     LimitedoChequeEspecial   R-squared:                       0.884
Model:                                OLS   Adj. R-squared:                  0.871
Method:                     Least Squares   F-statistic:                     64.26
Date:                    Mon, 01 May 2023   Prob (F-statistic):           1.39e-18
Time:                            21:43:31   Log-Likelihood:                -434.44
No. Observations:                      48   AIC:                             880.9
Df Residuals:                          42   BIC:                             892.1
Df Model:                               5
Covariance Type:                nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                   426.7480    309.988      1.377      0.176    -198.834    1052.330
RendimentoTotal               0.1210      0.096      1.257      0.216      -0.073       0.315
Salario                       0.2937      0.137      2.149      0.037       0.018       0.569
Escolaridade_Superior_Pos   788.0449    952.173      0.828      0.413   -1133.519    2709.608
Gênero_F                  -1579.3241    394.958     -3.999      0.000   -2376.381    -782.267
Gênero_M                   2006.0722    553.410      3.625      0.001     889.245    3122.899
Região_RJ                  -969.5667    334.183     -2.901      0.006   -1643.975    -295.158
Região_SP                  1396.3147    465.435      3.000      0.005     457.028    2335.601
==============================================================================
Omnibus:                       18.013   Durbin-Watson:                   1.737
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.309
Skew:                          -0.774   Prob(JB):                     2.66e-12
Kurtosis:                       7.925   Cond. No.                     1.68e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.47e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.